<%= content_for :page_heading, resource_name.to_s.humanize %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <% if resource.role == 'merchant' && resource.billing_info.present? %>
  <h2><%= t 'headings.profile.billing_info' %></h2>
  <hr>
  <%= f.fields_for :billing_info do |bi| %>
  <div class="field">
    <%= bi.label :billing_contact %><br />
    <%= bi.text_field :billing_contact %>
  </div>
  <div class="field">
    <%= bi.label :address_line_1 %><br />
    <%= bi.text_field :address_line_1 %>
  </div>
  <div class="field">
    <%= bi.label :zip_code %><br />
    <%= bi.text_field :zip_code %>
  </div>
  <div class="field">
    <%= bi.label :city %><br />
    <%= bi.text_field :city %>
  </div>
  <div class="field">
    <%= bi.label :state %><br />
    <%= bi.text_field :state %>
  </div>
  <div class="field">
    <%= bi.label :company_identification_number %><br />
    <%= bi.text_field :company_identification_number %>
  </div>
  <div class="field">
    <%= bi.label :tax_identification_number %><br />
    <%= bi.text_field :tax_identification_number %>
  </div>
  <div class="field">
    <%= bi.label :vat_identification_number %><br />
    <%= bi.text_field :vat_identification_number %>
  </div>
  <% end %>
  <% end %>


  <% if resource.role == 'referer' %>
  <h2><%= t 'headings.profile.payment_info' %></h2>
  <hr>
  <div class="field">
    <%= f.label :iban %><br />
    <%= f.text_field :iban, autofocus: true %>
  </div>
  <% end %>


  <h2><%= t 'headings.profile.basic_info' %></h2>
  <hr>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


  <h2><%= t 'headings.profile.password_change' %></h2>
  <hr>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


  <h2><%= t 'headings.profile.save_changes' %></h2>
  <hr>
  <div class="field">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>


  <p><%= t 'paragraphs.profile.save_changes_alert' %></p>
  <br/>
  <div class="actions">
    <%= f.submit (t 'buttons.save'), class: 'btn-jumbo btn-primary-blue' %>
  </div>
<% end %>


<br/>
<span class="icon icon-level-up"></span>
<%= link_to (t 'buttons.back_long'), :back %>
