<head>
  <title><%= yield(:page_title) %> - Sharee.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="Zdielaj a zarábaj | Sharee" />
  <meta name="description" content="Umožnite svojim návštevníkom stať sa Vašimi partnermi jednoducho." />
  <meta property="og:description" content="Umožnite svojim návštevníkom stať sa Vašimi partnermi jednoducho." />
  <meta property="og:site_name" content="Sharee" />
  <!-- <meta property="og:image" content="http://webrebel.sk/img/fb_image.jpg" /> -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="/sharee.js"></script>
  <script>
    Sharee.setHost('http://' + '<%= request.host_with_port %>');
  </script>
  <%= csrf_meta_tags %>
</head>