<%= content_for :title, t('.title') %>

<p><%= t('.processed_message') %></p>

<p>
  <%= t('.claiming_commission_message') %> <b><%= @commission %> &euro;</b><br/>
  <%= t('.payment_withdrawal_message') %> <b><%= @user.iban %></b>
</p>
