<%= content_for :title, 'Claim request' %>

<p>We have processed your request.</p>

<p>Claiming commission is <b><%= @commission %> &euro;</b>.</p>

<p>The payment withdrawal will be done soon to the following account:</p>

<ul>
  <li>IBAN: <strong><%= @user.iban_referer %></strong></li>
  <li>SWIFT: <strong><%= @user.swift_referer %></strong></li>
  <li>PAYPAL: <strong><%= @user.paypal_referer %></strong></li>
</ul>
