<%= content_for :title, t('.title') %>

<p><%= t('.processed_message') %></p>

<p><%= t('.claiming_commission_message') %> <b><%= @commission %> &euro;.</b></p>

<p><%= t('.payment_withdrawal_message') %></p>

<p>IBAN: <b><%= @user.iban %></b></p>