<%= render partial: 'campaigns/partials/header', locals: { step: 3, campaign: campaign } %>

<div class="controls">
  <%= render partial: 'campaigns/partials/back' %>
</div>

<h3>Script</h3>
<code><%=raw sharee_script_html %></code>

<h3>Button</h3>
<code><%=raw sharee_button_html %></code>

<h3>Thank</h3>
<code><%=raw sharee_thank_html %></code>
