<%= render partial: 'campaigns/partials/header', locals: { step: 3, campaign: campaign } %>

<div class="controls">
  <%= render partial: 'campaigns/partials/back' %>
</div>

<div class="col-6">
  <h3>Kód A - Skript</h3>
  <div class="field">
    <input type="text" id="code_a" onFocus="this.setSelectionRange(0, this.value.length)" class="code-input" value="<%=raw sharee_script_html %>" readonly="readonly" autofocus="autofocus">
  </div>

  <script>$('#code_a').focus();</script>

  <h3>Kód B - Tlačítko</h3>
  <div class="field">
    <input type="text" id="code_b" onFocus="this.setSelectionRange(0, this.value.length)" class="code-input" value="<%=raw sharee_button_html %>" readonly="readonly">
  </div>

  <h3>Kód C - Thank you page</h3>
  <div class="field">
    <textarea id="code_c" class="code-input" name="Kod C" rows="4" onFocus="this.setSelectionRange(0, this.value.length)" readonly="readonly" style="resize: none;"><%=raw sharee_thank_html %></textarea>
  </div>
</div>

<div class="padding-top col-6 last-col">
  <div class="nc-guide">
    <div class="nc-guide__item">
      <div class="nc-guide__item__content" id="code_a-help">
        <h3 class="nc-guide__item__heading">Kód A</h3>
        <p class="nc-guide__item__content__paragraph">Tento riadok umiestnite na koniec hlavičky <code>head</code>.</p>
      </div>
      <div class="nc-guide__item__content" id="code_b-help">
        <h3 class="nc-guide__item__heading">Kód B</h3>
        <p class="nc-guide__item__content__paragraph">Tento kód umiestnite na miesto, kde by ste chceli mať Sharee tlačítko.</p>
      </div>
      <div class="nc-guide__item__content" id="code_c-help">
        <h3 class="nc-guide__item__heading">Kód C</h3>
        <p class="nc-guide__item__content__paragraph">Kód C vložte na každú thank you page, nezabudnite doplniť správne údaje!</p>
      </div>
    </div>
  </div>
</div>

<div class="col-12 centered">
  <p>Neviete si rady? <a href="mailto:info@sharee.io" target="_blank" class="inverted-link">Kontaktujte nás</a>, alebo <label for="modal-1" class="inverted-link">zašlite túto stránku svojmu developerovi</label>.<br>
  <small>(Tieto informácie sú kedykoľvek dostupné v časti <em>Nastavenia kampane</em>)</small></p>
</div>

<div class="modal">
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1>Poslať kódy developerovi</h1>
      <p class="modal-content">
        Zadajte email, na ktorý sa majú poslať informácie o implementácii Sharee:
      </p>

      <form class="inline-form" target="_blank">
        <input type="email" name="email" class="form-input form-input-big" placeholder="developer@firma.sk" required>
        <input type="submit" class="btn btn-big btn-primary-green" value="Odoslať" name="subscribe">
      </form>
      <p class="modal-content"><small>Neposielame žiaden spam.</small></p>
    </div>
  </div>
</div>
