<%= render partial: 'campaigns/partials/header', locals: { step: 1, campaign: campaign } %>

<%= form_for campaign, url: {action: action}, html: {class: ''}, remote: true do |f| %>

  <div class="padding-top col-6">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
      <%= render partial: 'campaigns/partials/field_errors', locals: { errors: campaign.errors[:name] } %>
    </div>

    <div class="field">
      <%= f.label :url %><br>
      <%= f.text_field :url %>
      <%= render partial: 'campaigns/partials/field_errors', locals: { errors: campaign.errors[:url] } %>
    </div>

    <div class="field">
      <%= f.label :commission %><br>
      <%= f.text_field :commission %>
      <%= render partial: 'campaigns/partials/field_errors', locals: { errors: campaign.errors[:commission] } %>
    </div>
    
    <div class="field">
      <%= f.label :lang %><br>
      <%= f.select :lang, Campaign.langs.keys.to_a %>
    </div>
  </div>

  <div class="col-12 centered">
    <%= f.submit "#{t (action == 'create' ? 'buttons.next' : 'buttons.save')}",
        class: "btn-big btn-primary-green btn-submit",
        id: "save-button",
        data: {
          save: "#{t (action == 'create' ? 'buttons.next' : 'buttons.save')}",
          saved: "#{t 'buttons.saved'}" } %>
  </div>

<% end %>

<div class="controls">
  <%= render partial: 'campaigns/partials/back' %>
</div>