<%= content_for :page_title, 'Sharee - landing' %>

<h1>Sharee.io</h1>

<p>To use <b>Sharee Button</b>, paste this code:</p>
<code><%=raw @sharee_button_html %></code>

<p>To use <b>Sharee Thank</b>, paste this code:</p>
<code><%=raw @sharee_thank_html %></code>

<p>In both cases paste this <b>javascript</b> tag:</p>
<code><%=raw @sharee_script_html %></code>

<h3>You are ready to go!</h3>

<% if @samples %>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <%= render partial: 'shared/sharee_button', locals: { campaign: @samples[:campaign_id], commission: @samples[:campaign_commission] } %> Labore reprehenderit a esse iste sequi, officia quia aspernatur, odit libero delectus, quaerat deleniti ad quos doloribus magni, nihil minus cum sit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex laborum ut doloremque libero est nulla quos reiciendis porro, praesentium, laboriosam alias esse optio ab sint odit saepe, impedit. Alias, officiis.</div>

<%= render partial: 'shared/sharee_thank', locals: { code: @samples[:code], email: @samples[:email], price: @samples[:price] } %>
<% end %>
