<%= content_for :page_title, 'Domov' %>

<%= render 'refills/navigation' %>
<%= render partial: 'layouts/shared/bars', locals: {landing: true} %>

<section class="intro small">
  <h1 class="lead">Zdieľaj a zarábaj</h1>
  <p class="sublead small">Sharee ti umožňuje stať sa partnerom za minútu. Zdieľaj obľúbený produkt a získaj províziu z jeho predaja.</p>

  <!-- <div class="centered padding-top">
    <a href="#steps" class="btn btn-medium btn-secondary-white">Ako to funguje?</a>
    <label for="modal-1">
      <div class="btn btn-medium btn-primary-green">Mám záujem</div>
    </label>
  </div> -->
</section>

<section class="benefits padding-bottom-big">
  <div class="container centered">
    <h2 class="landing-heading">Ako to funguje</h2>
    <hr class="under-heading">

    <div class="col-4 column centered">
      <%= image_tag asset_path('heart.svg') %>
      <h3>1. Nájdi Sharee tlačítko</h3>
      <p class="light">Po kliknutí naň vlož email a dostaneš jedinečný odkaz</p>
    </div>
    <div class="col-4 column centered">
      <%= image_tag asset_path('dashboard.svg') %>
      <h3>2. Zdieľaj získaný odkaz</h3>
      <p class="light">Pošli odkaz známym, zdieľaj na sociálnych sieťach</p>
    </div>
    <div class="col-4 column centered">
      <%= image_tag asset_path('shield.svg') %>
      <h3>3. Získaj províziu z nákupu</h3>
      <p class="light">Ak niekto kúpi produkt cez tvoj odkaz, získavaš províziu</p>
    </div>
  </div>
</section>

<section class="footer">
  <div class="container">
    <%= link_to root_path, class: 'logo' do %>
      <%= image_tag asset_path 'logo.svg' %>
    <% end %>
    <p class="light">Umožnite svojim návštevníkom stať sa Vašimi partnermi jednoducho</p>

    <span class="icons">
      <a href="#"><span class="icon icon-facebook-with-circle"></span></a>
      <a href="#"><span class="icon icon-twitter-with-circle"></span></a>
    </span>

    <nav class="footer-nav">
      <ul>
        <li><%= link_to 'O projekte', page_path('about') %></li>
        <li><%= link_to 'Obchodné podmienky', page_path('tos') %></li>
        <li><%= link_to 'FAQ', page_path('faq') %></li>
        <li><%= link_to 'Kontakt', page_path('contact') %></li>
      </ul>
    </nav>
  </div>

  <p class="copyright">&copy; Learn2Code 2015</p>
</section>
