<%= content_for :page_title, 'Obchodné podmienky' %>

<%= render 'refills/navigation' %>
<%= render partial: 'layouts/shared/bars', locals: {landing: true} %>

<section class="static-content container">

  <aside class="static-page-nav">
    <%= link_to 'O projekte', page_path('about'), class: 'static-page-nav-link' %>
    <%= link_to 'Obchodné podmienky', page_path('tos'), class: 'static-page-nav-link active' %>
    <%= link_to 'FAQ', page_path('faq'), class: 'static-page-nav-link' %>
    <%= link_to 'Kontakt', page_path('contact'), class: 'static-page-nav-link' %>
  </aside>

  <article class="static-content-text">
    <h1>Obchodné podmienky</h1>

    <h2>Úvodné ustanovenia</h2>
    <ul>
      <li>Tieto obchodné podmienky upravujú práva a povinnosti zmluvných strán:
        <ul>
          <li>vzniknuté v súvislosti s dohodou o spolupráci uzavrenou medzi Obchdoníkom a Poskytovateľom</li>
          <li>vzniknuté v súvislosti s účasťou Sprostredkovateľa v províznom programe Poskytovateľa Sharee</li>
        </ul>
      </li>
      <li>Registráciou do provízneho programu Sharee vyslovujú Obchodník, Sprostredkovateľ a Poskytovateľ svoj súhlas s týmito obchodnými podmienkami a zároveň sa všetky strany zaväzujú týmito podmienkami riadiť.</li>
      <li>Provízny program Sharee je prevádzkovaný firmou Check IT s.r.o., sídlom Zástranie 278, 01003 Žilina, IČO: 46707719, cez aplikáciu sharee.io.</li>
      <li>V otázkach, ktoré nie sú upravené týmito obchodnými podmienkami, sa zmluvné strany riadia platnými právnymi predpismi Slovenskej Republiky.</li>
    </ul>

    <h2>Definícia pojmov</h2>
    <ul>
      <li><strong>Dohoda o spolupráci</strong> - je akákoľvek dohoda, uzatvorená podľa týchto obchodných podmienok medzi Obchodníkom, Sprostredkovateľom a Poskytovateľom, ktorej účelom je propagácia produktov alebo služieb Obchodníka za pomoci provízneho programu Sharee. Dohoda o spolupráci je uzatváraná elektornicky a nie je poskytovaná v písomnej podobe. Dohoda je uzavretá tým, že Obchodník alebo Sprostredkovateľ súhlasil s podmienkami zaškrtnutím tejto možnosti pri registrácii.</li>
      <li><strong>Poskytovateľ</strong> je právnická osoba, ktorá prevádzku provízny program Sharee určená v Čl. I, ods. 3.</li>
      <li><strong>Užívateľ</strong> je registrovaný subjekt do provízneho programu Sharee, ktorý môže vystupovať ako Obchodník alebo Sprostredkovateľ.</li>
      <li><strong>Obchodník</strong> je registrovaný užívateľ, ktorý má záujem propagovať svoje produkty a služby cez provízny program Sharee. Za týmto účelom si vytvorí kampaň s potrebnými parametrami a implementuje si provízny program Sharee na svoju webovú stránku.</li>
      <li><strong>Sprostredkovateľ</strong> je právnická alebo fyzická osoba, ktorá sa zúčastňuje provízneho programu Sharee a propaguje produkty alebo služby Obchodníka</li>
      <li><strong>Kampaň</strong> je charakteristika produktu, služby alebo webovej stránky Obchodníka, ktoré majú byť propagované Sprostredkovateľom a za akých podmienok.</li>
      <li><strong>Konverzia</strong> je akcia návštevníka, ktorá je cieľom kampane. Konverziou sa predovšetkým rozumie dokončenie nákupu produktu alebo služieb Obchodníka. Z Návštevníka sa konverziou stáva Zákazník.</li>
      <li><strong>Metódy propagácie</strong> - sú marketingové a iné obdobné činnosti Sprostredkovateľa, ktorými propaguje tovary alebo služby Obchodníka. Metodami propagácie sa rozumie predovšetkým:
        <ul>
          <li>zdieľanie produktu alebo služby Obchodníka na sociálnych sieťach</li>
          <li>umiestnenie reklmaného obsahu napr. banerov na webových stránkách Sprostredkovateľa</li>
          <li>uvedenie referencie na produkty a služby Obchodníka prostredníctvom blogu, diskusných fór alebo článkov</li>
          <li>rozosielanie emailov informujúcich o produktoch a službách Poskytovateľa osobám, ktoré s touto formou marketingu vyjadrili súhlas v súlade s právnymi predpismi</li>
          <li>PPC kampane</li>
        </ul>
      </li>
      <li><strong>Návštevník</strong> - je osoba, ktorá navštíví webové stránky Obchodníka na základe činnosti vyvíjanej Sprostredkovateľom v rámci povolených metód proagácie.</li>
      <li><strong>Provízny odkaz</strong> je jedinečný odkaz pridelený Sprostredkovateľovi v rámci provízneho programu Sharee. Sprostredkovateľ má nárok na províziu iba v prípade, že bol využitý jeho provízny odkaz pri uskutočnení schválenej konverzie.</li>
      <li><strong>Provízny účet</strong> je účet Sprostredkovateľa, vedený v internetovej aplikácii Sharee v rámci administrácie provízneho systému ku ktorému má partner online prístup. Na účte sú evidované údaje týkajúce sa predovšetkým počtu Návštevníkov, objednávok a ich stavu.</li>
      <li><strong>Schválená konverzia</strong> je taká, pri ktorej zo strany Zákazníka dojde k riadnemu a plnému uhradeniu ceny za produkt alebo službu.</li>
      <li><strong>Zákazník</strong> je osoba, ktorá u Obchodníka záväzne objedná tovar alebo iné plnenie, ktoré je predmetom kampane.</li>
    </ul>

    <h2>Účasť zluvných strán v províznom programe</h2>
    <ul>
      <li>Účasť Užívateľa v províznom programe Sharee vzniká registráciou vo webovej aplikácii sharee.io alebo zdieľaním produktu alebo služby obchodníka Partnerom.</li>
      <li>V rámci provízneho programu Sharee propaguje Sprostredkovateľ produkty alebo služby Obchodníka na základe dohody o spolupráci pomocou metód propagácie.</li>
      <li>Sprostredkovateľ plne zodpovedá za všetky škody, ktoré spôsobí svojím jednaním v rozpore s týmito podmienkami Obchodníkovi alebo Poskytovateľovi.</li>
      <li>Užívateľ zodpovedá Poskytovateľovi za správnosť a úplnosť údajov uvedených v aplikácii Sharee. Poskytovateľ nezodpovedá za škody vzniknuté užívateľovi z dôvodu neaktuálnych údajov.</li>
    </ul>

    <h2>Práva a povinnosti Užívateľa</h2>
    <ul>
      <li>Sprostredkovateľ je povinný dbať na to, aby nepoškodzoval či neohrozoval dobré meno a povest Obchodníka  alebo Poskytovateľa a ich produkty a služby.</li>
      <li>Sprostredkovateľ nesmie propagovať produkty a služby Obchodníka na webových stránkach, ktorých obsah môže akýmkoľvek spôsobom porušovať právne predpisy alebo dobré mravy.</li>
      <li>Sprostredkovateľ alebo rodinní príslušníci sprostredkovateľa alebo osoby jednajúce v zhode so Sprostredkovateľom nemôžu objednať produkty alebo služby partnera cez vlastný provízny odkaz Sprostredkovateľa.</li>
      <li>Sprostredkovateľ je oprávnený využívať k propagácii produktov a služieb Obchodníka všetky textové, obrázkové a iné materiály, ktoré sú v súlade s prezentáciou Obchodníka. Tieto materiály nemôže použiť Sprostredkovateľ inak ako pre účely kampane.</li>
      <li>Obchodník má právo zamietnuť konverzie v danom mesiaci do 7. dňa nasledujúceho mesiaca, inak sú konverzie schválené automaticky. O schválenej konverzii je Sprostredkovateľ informovaný prostredníctvom svojho účtu v aplikácii Sharee.</li>
      <li>Užívateľ je povinný chrániť svoje prístupové údaje k svojmu účtu do aplikácie Sharee pred zneužitím. Poskytovateľ nezodpovedá za škodu, ktorá takto užívateľovi vznikne.</li>
      <li>Pre získavanie konverzií sú využívané súbory cookie v počítačoch zákazníkov. Platnosť súborov je štandardne časovo neobmedezná alebo nastavená priamo Obchodníkom v kampani. Sprostredkovateľ berie na vedomie a Poskytovateľ nezodpovedá za to, že v prípade, že zákazník voľbouvo webovom prehliadači alebo inak využívanie cookie zakáže, nebude možné priradiť konverziu k províznemu odkazu Sprostredkovateľa a že za takúto konverziu neprislúcha Sprostredkovateľovi provízia.</li>
      <li>Poskytovateľ nezodpovedá za prípadnú škodu spôsobenú propagáciou programu za cez provízny program Sharee.</li>
      <li>Obchodník sa zaväzuje vyplatiť Poskytovateľovi províziu za všetky uskutočnené a schválené konverzie v províznom programe Sharee.</li>
      <li>Poskytovateľ sa zaväzuje vyplatit Sprostredkovateľovi províziu za všetky jeho uskutočnené a schválené provízie, pokiaľ výška provízie k vyplateniu dosiahla minimálnu hodnotu 50 eur a Sprostredkovateľ o vyplatenie požiadal prostredníctvom aplikácie Sharee.</li>
      <li>Poskytovateľ je oprávnený kedykoľvek meniť, či doplňovať znenie týchto obchodných podmienok. Práva a povinnosti strán sa riadia vždy tým znením obchodných podmienok, za účinnosti ktorých vznikli. Zmenu obchodných podmienok je Poskytovateľ povinný Užívateľovi oznámit prostredníctvom emailu, ktorý zadal užívateľ pri registrácii. Nové znenie obchodných podmienok bude voči užívateľovi účinné do jeho oznámenia.</li>
    </ul>

    <h2>Provízia</h2>
    <ul>
      <li>Výška provízie je uvedená v kampani Obchodníka a je jedným z povinných parametrov.</li>
      <li>Provízie sú schválené automaticky na základe schválených konverzií. Schvalovanie konverzií prebieha automaticky a Obchodník má možnosť neschváliť konverziu za daný mesiac do 7. dňa nasledujúceho mesiaca.</li>
      <li>Provízie budú schválené u tých konverzií, kde došlo k riadnemu a plnému zaplateniu za tovar alebo služby propagované v kampani.</li>
      <li>Za zrušené, či stornované objednávky alebo pri odstúpení zákazníka od zmluvy nevzniká partnerovi nárok na províziu.</li>
    </ul>

    <h2>Platobné podmienky</h2>
    <ul>
      <li>Sprostredkovateľ má nárok na výplatu provízie, pokiaľ súčet schválených provízií je vyšší ako 50 eur.</li>
      <li>Pokiaľ zostatok provízie na proviznom účte Sprostredkovateľa prekročí 50 eur, má Sprostredkovateľ možnosť požiadať o výplatu provízie prostredníctvom svojho provízneho účtu. V aplikácii Sharee si Sprostredkovateľ môže pozrieť aktuálny prehľad konverzií.</li>
      <li>Provízia je Sprostredkovateľovi preposlaná do 14 dní na účet, ktorý zadal v aplikácii Sharee.</li>
      <li>Sprostredkovateľ účtuje Obchodníkovi celkovú provízia za celý mesiac, a to do 14 dní nasledujúceho mesiaca. Účtované sú iba schválené proívízie.</li>
      <li>Vyplácanie provízie prebieha bankovým prevodom alebo cez platobnú službu Paypal.</li>
    </ul>

    <h2>Reklamácie</h2>
    <ul>
      <li>Sprostredkovateľ má v prípade pochybností predovšetkým o správnosti evidencie sprostredkovaných konverzií alebo schválených provizií možnosť uplatniť u Poskytovateľa námietku. V takomto prípade je povinný Poskytovateľ predložiť všetky dostupné údaje a záznamy, ktoré s námietkami súvisia. V prípade potreby je Obchodník povinný poskytnúť súčínnosť Poskytovateľovi.</li>
      <li>Sprostredkovateľ má právo uplatniť svoje námietky do 30 dní od dňa vzniku skutočnosti, ktorá je dôvodom námietky. Na neskoršie námietky nie je povinný Poskytovateľ reagovať.</li>
      <li>Námietky musia byť Sprostredkovateľom zaslené v písomnej forme, ktorou sa rozumie e-mailová správa zaslaná na kontaktný mail Poskytovateľa info@sharee.io. Za riadnu uplatnenú námietku sa považuje iba taká námietka, ktorá je Poskytovateľovi riadne doručená, je čitateľná a obsahuje všetky informácie a podklady, ktoré sú potrebné k úplnému posúdeniu námietky Poskytovateľom.</li>
      <li>Posúdeine a rozhodnutie o podaných námietkách je v plnej kompetencii Poskytovateľa. Námiestky sú Poskytovateľom vybavované spravidla do 30 dní od dňa ich doručenia Poskytovateľovi. Rozdelenie Poskytovateľa je potom oznámené Partnerovi.</li>
    </ul>

    <h2>Ochrana osobných údajov</h2>
    <ul>
      <li>Poskytovateľ vyhlasuje, že dáta Užívateľa budú chránené v súlade s príslušnými zákonnými ustanoveniami o ochrane osobných údajov. Práva Sprostredkovateľa na informácie o spracovaní osobných údajov, právo požadovať opravu či ďalšie práva sa riadia Zákonom č. 122/2013 o ochrane osobných údajov.</li>
      <li>Registráciou do provízneho programu Sharee vyjadruje Užívateľ svoj súhlas so zasielaním e-mailových správ, ktoré budú slúžiť k zasielaniu noviniek a informácií súviacich s kampaňami v províznym programe Sharee alebo predmetom podnikania Poskytovateľa. Tento súhlas je možné kedykoľvek odvolať.</li>
      <li>Pre realizácií kampaní, predovšetkám pri zasielaní e-mailových správ, sa Sprostredkovateľ zaväzuje dodržovať právne predpisy Slovenskej Republiky.</li>
      <li>V prípade, že pri realizácii kampaní dojde k porušeniu právnych predpisov podľa predchodzieho paragrafu Sprostredkovateľ, nesie za toto porušenie výlučnú zodpovednosť Sprostredkovateľ. V prípade, že bude Poskytovateľovi v súvislosti s takouto protiprávnou činnosťou  Sprostredkovateľa požadované peňažné plnenie, má Poskytovateľ voči Partnerovi nárok na úhradu takéhoto plnenia, vrátane nákladov na právne záležitosti.</li>
    </ul>

    <h2>Záverečné ustanovania</h2>
    <ul>
      <li>Dohoda o spolupráci je uzavrená na dobu neurčitú.</li>
      <li>K zániku dohody o spolupráci môže dojsť zrušením účtu v aplikácii Sharee.</li>
      <li>Zánik dohody o spolupráci nemá vplyv na prípadné nároky na náhradu škody.</li>
      <li>V prípade zániku dohody o spolupráci je Sprostredkovateľ oprávnený vyžiadať si vyplatenie provízie u Poskytovateľa, na ktorú má k dňu zániku nárok. Provízie budú Sprostredkovateľovi vyplatené najneskôr do 14 dní od zrušenia účtu.</li>
    </ul>

  </article>

</section>