<%= content_for :page_title, 'Zdieľané odkazy' %>

<h1>Zdieľané odkazy</h1>

<p>
    <strong>Odkazov:</strong> <%= @links.count %><br/>
    <strong>Otvorení:</strong> <%= OpenAction.where(link_id: @links).count %><br/>
    <strong>Predajov:</strong> <%= SellAction.where(link_id: @links).count %><br/>
</p>

<ul class="campaigns-list">
  <% @links.group_by(&:campaign).each do |campaign, links| %>
    <li class="one-campaign">
      <span class="name"><%= campaign.name %></span><br>

      <span class="number">
        <%= links.count %>
      </span> <span class="description">Odkazov</span> <span class="separator">|</span>

      <span class="number">
        <%= OpenAction.where(link_id: links).count %>
      </span> <span class="description">Otvorení</span> <span class="separator">|</span>

      <span class="number">
        <%= SellAction.where(link_id: links).count %>
      </span> <span class="description">Predajov</span>
    </li>
  <% end %>
</ul>
