<%= content_for :page_title, 'Zdieľané odkazy' %>

<%
   total_commission = 0
   @links.group_by(&:campaign).each do |campaign, links|
     total_commission += SellAction.where(link_id: links).sum(:price) * campaign.zero_based_commission
   end
%>

<h1>Zdieľané odkazy</h1>

<div class="container overview-icons">

  <div class="col-4 centered">
    <span class="icon icon-publish big-icon"></span><br>
    <strong><%= OpenAction.where(link_id: @links).count %></strong> návštev
  </div>

  <div class="col-4 centered">
    <span class="icon icon-shopping-basket big-icon"></span><br>
    <strong><%= SellAction.where(link_id: @links).count %></strong> predajov
  </div>

  <div class="col-4 centered">
    <div class="highlighted-icon">
      <span class="icon icon-wallet big-icon"></span><br>
      <strong><%= total_commission %>€</strong> provízia
    </div>
  </div>

</div>

<ul class="campaigns-list">
  <% @links.group_by(&:campaign).each do |campaign, links| %>
    <li class="one-campaign">
      <span class="name"><%= campaign.name %></span><br>

      <span class="number">
        <%= links.count %>
      </span> <span class="description">Odkazov</span> <span class="separator">|</span>

      <span class="number">
        <%= OpenAction.where(link_id: links).count %>
      </span> <span class="description">Otvorení</span> <span class="separator">|</span>

      <span class="number">
        <%= SellAction.where(link_id: links).count %>
      </span> <span class="description">Predajov</span> <span class="separator">|</span>

      <span class="number">
        <%= SellAction.where(link_id: links).sum(:price) * campaign.zero_based_commission %> &euro;
      </span> <span class="description">Provizie</span>
    </li>
  <% end %>
</ul>
