<%= content_for :page_title, 'Zdieľané odkazy' %>
<% eligible_for_payoff = @data[:unpaid_total_commission] > 50 # ak je moznost vyplatit, tak true %>

<h1>Zdieľané odkazy</h1>

<div class="controls tooltip-item">
  <% if eligible_for_payoff %>
    <%= link_to 'Vyplatiť', commissions_path, class: "btn-big btn-primary-green" %>
  <% else %>
    <%= button_to 'Vyplatiť', commissions_path, class: "btn-big btn-primary-green", disabled: 'true' %>
    <div class="tooltip">
      <p>Ešte nemôžeš, man.</p>
    </div>
  <% end %>
</div>

<div class="container overview-icons">

  <div class="col-4 centered">
    <span class="icon icon-publish big-icon"></span><br>
    <strong><%= @data[:total_open] %></strong> návštev
  </div>

  <div class="col-4 centered">
    <span class="icon icon-shopping-basket big-icon"></span><br>
    <strong><%= @data[:total_sell] %></strong> predajov
  </div>

  <div class="col-4 centered">
    <span class="icon icon-wallet big-icon"></span><br>
    <span class="new-value-block"><strong><%= @data[:new_total_commission] %>€</strong> provízia</span><br>
    <span class="new-value-block"><strong>?€</strong> schválené</span>
      <% if eligible_for_payoff %><span class="icon icon-check green-color"></span><% end %>
  </div>
</div>

<ul class="campaigns-list">
  <% @data[:campaigns].each do |campaign| %>
    <li class="one-campaign">
      <span class="name"><%= campaign[:name] %></span><br>

      <span class="number">
        <%= campaign[:links_count] %>
      </span> <span class="description">Odkazov</span> <span class="separator">|</span>

      <span class="number">
        <%= campaign[:open_count] %>
      </span> <span class="description">Otvorení</span> <span class="separator">|</span>

      <span class="hide total-value-block">
        <span class="number">
          <%= campaign[:sell_count] %>
        </span> <span class="description">Predajov</span> <span class="separator">|</span>
      </span>

      <span class="new-value-block">
        <span class="number">
          <%= campaign[:new_sell_count] %>
        </span> <span class="description">Predajov</span> <span class="separator">|</span>
      </span>

      <span class="hide total-value-block">
        <span class="number">
          <%= campaign[:commission_count] %> &euro;
        </span> <span class="description">Provizie</span>
      </span>

      <span class="new-value-block">
        <span class="number">
          <%= campaign[:new_commission_count] %> &euro;
        </span> <span class="description">Provizie</span>
      </span>
    </li>
  <% end %>
</ul>
