<%= content_for :page_title, 'Vyplatenie provízií' %>

<h1>Vyplatenie provízií</h1>

<div class="controls">
  <%= link_to links_path, class: "btn-medium btn-link-blue" do %>
    <span class="icon icon-level-up"></span> Späť na zoznam kampaní
  <% end %>
</div>

<div class="centered">
  <br/>

  <p>Vaša aktuálne vyplatiteľná provízia činí: <b><%= @commission %> &euro;</b></p>

  <p>Minimálna vyplatiteľná čiastka činí: <b><%= @commission_bottom_limit %> &euro;</b></p>

  <p>Tento limit ste: <b><%= @is_commission_bottom_limit_met ? 'splnili' : 'ešte nesplnili' %>.</b></p>

  <% unless @is_payoff_day %>
    <p>Počkajte prosím, vyplatenie je možné <b>po <%= @payoff_day %>. dni</b> v mesiaci.</p>
  <% end %>

  <% if @is_payoff_day && @is_commission_bottom_limit_met %>
    <br/>
    <% if @user.iban.blank? %>
      <p>Vyplatenie bude možné po nastavení vášho <b>IBAN-u</b> <%= link_to 'v profile', edit_user_registration_path %>.</p>
    <% else %>
      <p>Peniaze Vám budú vyplatené na účet: <b><%= @user.iban %></b></p>
      <p>
        <%= link_to 'Odoslať požiadavku', pay_commissions_path(payment_method: :transfer), class: 'btn-medium btn-primary-blue', remote: true %>
      </p>
    <% end %>
  <% end %>
</div>

<script>
  $(document).ready(function () {
    $('.payment-methods li').on('click', function() {
      $('.payment-methods li').removeClass('active');

      var $this = $(this);
      var payment = $this.data('payment');

      $this.addClass('active');

      $('.pay-button').addClass('hide');
      $('.transfer-pay-button').toggleClass('hide', payment == 'transfer');
      $('.paypal-pay-button').toggleClass('hide', payment == 'paypal');
    });
  });
</script>