<%= content_for :page_title, "Nastavenia kampane #{@campaign.name}" %>

<h1>Nastavenia kampane <%= @campaign.name %></h1>

<div class="padding-top col-4">
  <%= form_for @campaign, url: {action: 'update'}, html: {class: ''} do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </div>
    <div class="field">
      <%= f.label :commission %><br>
      <%= f.text_field :commission %>
    </div>
    <%= f.submit 'Aktualizovať', class: "btn-big btn-primary-blue btn-submit" %>
  <% end %>
</div>

<div class="controls">
  <%= link_to campaign_path(@campaign), class: "btn-medium btn-link-blue" do %>
    <span class="icon icon-level-up"></span> Späť na kampaň
  <% end %>
  <%#= link_to 'Spat na zoznam kampani', campaigns_path %>
</div>
