<%= content_for :page_title, 'Moje kampane' %>

<h1>Kampane</h1>

<div class="controls one-button">
  <%= link_to 'Nová kampaň', new_campaign_path, class: "btn-big btn-primary-green" %>
</div>

<ul class="campaigns-list">
  <% @campaigns.each do |campaign| %>
  <li class="one-campaign">
    <span class="name"><%= link_to campaign.name, campaign %></span><br>

    <span class="url"><%= campaign.url %></span><br>

    <span class="number">
      <%= campaign.links.count %>
    </span> <span class="description">Zdieľaní</span> <span class="separator">|</span>

    <span class="number">
      <%= OpenAction.where(link_id: campaign.links.pluck(:id)).count %>
    </span> <span class="description">Kliknutí</span> <span class="separator">|</span>

    <span class="number">
      <%= SellAction.where(link_id: campaign.links.pluck(:id)).count %>
    </span> <span class="description">Predajov</span>

    <%= link_to 'Upraviť', edit_campaign_path(campaign), class: "btn-medium btn-link-blue edit-campaign-btn" %>
    <%= link_to 'Prehľad', campaign, class: "btn-medium btn-primary-blue show-campaign-btn" %>
  </li>
  <% end %>
</ul>