<%= content_for :page_title, "Nová kampaň" %>

<h1>Nová kampaň</h1>

<div class="padding-top col-4">
  <%= form_for @campaign, url: {action: 'create'}, html: {class: ''} do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </div>
    <div class="field">
      <%= f.label :commission %><br>
      <%= f.text_field :commission %>
    </div>
    <%= f.submit 'Vytvoriť', class: "btn-big btn-primary-blue btn-submit" %>
  <% end %>
</div>

<div class="controls">
  <%= link_to campaigns_path, class: "btn-medium btn-link-blue" do %>
    <span class="icon icon-level-up"></span> Späť na zoznam kampaní
  <% end %>
</div>
