<%= content_for :page_title, "Kampaň #{@campaign.name}" %>

<h1>Kampaň <%= @campaign.name %></h1>

<div class="padding-top ">
  <span class="url"><%= @campaign.url %></span><br>

  <span class="number">
    <%= @campaign.links.count %>
  </span> <span class="description">Zdieľaní</span> <span class="separator">|</span>

  <span class="number">
    <%= OpenAction.where(link_id: @campaign.links.pluck(:id)).count %>
  </span> <span class="description">Kliknutí</span> <span class="separator">|</span>

  <span class="number">
    <%= SellAction.where(link_id: @campaign.links.pluck(:id)).count %>
  </span> <span class="description">Predajov</span>
</div>

<div class="controls">
  <%= link_to campaigns_path, class: "btn-medium btn-link-blue" do %>
    <span class="icon icon-chevron-thin-left"></span> Späť na zoznam kampaní
  <% end %>
  <%= link_to 'Edituj kampan', edit_campaign_path(@campaign), class: "btn-medium btn-primary-blue" %>
</div>


<h3>Linky</h3>
<% @campaign.links.each do |link| %>
<%= link_to link.url, link.url %>, <%= link.open_actions.count %> otvoreni, <%= link.sell_actions.count %> predajov<br/>
<% end %>

<br/><br/>