<%= content_for :title, t('.title') %>

<p><%= t('.thank_you_again_message') %></p>

<p><%= t('.created_via_message') %> <strong><%= @resource.email %></strong>.</p>

<p><%= t('.activation_message') %></p>

<p><%= link_to t('.activate_account'), accept_invitation_url(@resource, :invitation_token => @token) %></p>
