<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:page_heading) %> - Sharee.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="/sharee.js"></script>
  <script>
      Sharee.setHost('http://' + '<%= request.host_with_port %>');
  </script>
  <%= csrf_meta_tags %>
</head>
<body class="devise-body">



<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="container centered">
  <h1><%= yield(:page_heading) %></h1>

  <div class="col-4 col-offset-4">
    <%= yield %>
  </div>
</div>

</body>
</html>
