<html>
  <body>
    <style>
      p, h3 {
        font-family: Arial, sans-serif;
      }
    </style>

    <a href="http://www.sharee.io" target="_blank" title="Sharee.io"><img src="<%= asset_url('logo.png') %>" alt="Logo" height="18px"></a>
    <h3><%= yield :title %></h3>

    <%= yield %>

    <p><%= t('mailers.any_questions_message') %></p>
    <p>
      <%= t('mailers.regards') %><br>
      <%= t('mailers.sharee_team') %>
    </p>
  </body>
</html>
